.gridContainer{
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  row-gap: .3rem

}
.clockFace {
  list-style: none;
  display: flex;
  &>* {
    &:not(:last-child)::after{
      content: ':';
      padding: 0 0.3rem;
    }
  }
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: dodgerblue;

  &.start {
    background-color: #D6FADC;
  }
  &.stop{
    background-color: #FFBCD9;
  }
}
