.gridContainer{
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  row-gap: .3rem

}



.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;

  &.start {
    background-color: #D6FADC;
  }
  &.stop{
    background-color: #FFBCD9;
  }
}
